.about {
  display: flex;
  padding-bottom: 101px;

  @media (max-width: $tablets-max) {
    padding-bottom: 33px;
  }

  @media (max-width: $mobiles-max) {
    flex-direction: column;
  }
}

.about__background {
  background-image: url("../img/about-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: left top 29px;
  width: 58%;
  min-height: 544px;
  background-size: contain;
  // z-index: -1;

  @media (max-width: $tablets-max) {
    background-image: url("../img/about-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top 57px;
    width: 47.7%;
    min-height: 347px;
  }

  @media (max-width: $mobiles-max) {
    background-image: url("../img/about-mobile@1x.jpg");
    background-repeat: no-repeat;
    // background-position: left top 57px;
    background-position: left top -46px;
    width: 100%;
    background-size: auto;
    min-height: 305px;
  }
}

.about h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  padding: 29px 0 32px;

  @media (max-width: $tablets-max) {
    font-size: 25px;
    line-height: 30px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 22px;
    line-height: 27px;
  }
}

.about__story h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 21px 0 16px;

  @media (max-width: $tablets-max) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 23px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 18px;
    line-height: 22px;
  }
}

.about p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  @media (max-width: $tablets-max) {
    line-height: 23px;
  }
}

.about__inner {
  width: 50%;
  padding-top: 73px;
  padding-left: 3px;
  padding-right: 121px;

  @media (max-width: $tablets-max) {
    padding-top: 21px;
    width: 58%;
    padding-left: 35px;
    padding-right: 110px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0 20px 0 19px;
    width: 100%;
  }
}

.about__story {
  padding-bottom: 32px;

  br {
    @media (min-width: $desktops) {
      display: none;
    }
  }

  @media (max-width: $tablets-max) {
    padding-bottom: 66px;
    max-width: 278px;
  }

  @media (max-width: $mobiles-max) {
    padding-bottom: 34px;
    max-width: 100%;
  }
}

.about__purpose {
  @media (max-width: $tablets-max) {
    margin-left: -268px;
    padding-right: 10px;
  }

  @media (max-width: $mobiles-max) {
    margin-left: 0;
    width: 100%;
    padding-right: 6px;
  }
}

.about__purpose h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 21px 0 16px;

  @media (max-width: $tablets-max) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 15px;
  }

  @media (max-width: $mobiles-max) {
    padding: 10px 0 18px;
  }
}
