.about {
  display: flex;
  padding-bottom: 28px;
}

.about__background {
  background-image: url("../img/about-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: left top -78px;
  width: 50%;
  min-height: 614px;
  // z-index: -1;
}

.about h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  padding: 29px 0 32px;
}

.about h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 21px 0 16px;
}

.about p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.about__inner {
  width: 50%;
  padding-top: 73px;
  padding-left: 52px;
  padding-right: 121px;
}

.about__story {
  padding-bottom: 32px;
}
