.about {
  display: flex;
  padding-bottom: 98px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 618px;
    height: 280px;
    top: -50px;
    right: 0;

    @media (max-width: $tablets-max) {
      display: none;
    }
  }

  @media (max-width: $tablets-max) {
    padding-bottom: 33px;
  }

  @media (max-width: $mobiles-max) {
    flex-direction: column;
  }
}

.no-webp .about {
  &::before {
    background-image: url("../img/transparent-clouds.png");
  }
}

.webp .about {
  &::before {
    background-image: url("../img/transparent-clouds.webp");
  }
}

.about__background {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left top 25px;
  width: 58%;
  min-height: 544px;
  background-size: contain;

  @media (max-width: $tablets-max) {
    background-repeat: no-repeat;
    background-position: left top 55px;
    width: 49.5%;
    min-height: 347px;
  }

  @media (max-width: $mobiles-max) {
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    background-size: contain;
    min-height: 351px;
    transform: translateY(-11px);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-position: left top -7px;
    }
  }
}

.no-webp .about__background {
  background-image: url("../img/about-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-position: left top 30px;
    background-image: url("../img/about-desktop@2x.jpg");
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/about-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobiles-max) {
    background-image: url("../img/about-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-mobile@2x.jpg");
    }
  }
}

.webp .about__background {
  background-image: url("../img/about-desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-position: left top 30px;
    background-image: url("../img/about-desktop@2x.webp");
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/about-tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.webp");
    }
  }

  @media (max-width: $mobiles-max) {
    background-image: url("../img/about-mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-mobile@2x.webp");
    }
  }
}

.about h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  padding: 29px 0 32px;
  position: relative;

  &::before {
    position: absolute;
    content: "О нас";
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    top: 16px;
    left: -1px;
    color: #2d383f;
    opacity: 0.03;

    @media (max-width: $tablets-max) {
      font-size: 40px;
      line-height: 49px;
      top: 14px;
      left: -1px;
    }

    @media (max-width: $mobiles-max) {
      font-size: 30px;
      line-height: 37px;
      top: 8px;
      left: 0;
    }
  }

  @media (max-width: $tablets-max) {
    font-size: 25px;
    line-height: 30px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 22px;
    line-height: 27px;
    padding: 17px 0 34px;
  }
}

.about__story h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 19px 0;

  @media (max-width: $tablets-max) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 23px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 18px;
    line-height: 22px;
  }
}

.about p {
  margin: 0;
  font-size: 14px;
  line-height: 23px;

  @media (max-width: $tablets-max) {
    line-height: 23px;
  }
}

.about__inner {
  width: 50%;
  padding-top: 73px;
  padding-left: 4px;
  padding-right: 121px;

  @media (max-width: $tablets-max) {
    padding-top: 23px;
    width: 58%;
    padding-left: 31px;
    padding-right: 110px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0 20px 0 21px;
    width: 100%;
  }
}

.about__story {
  padding-bottom: 37px;

  br {
    @media (min-width: $desktops) {
      display: none;
    }
  }

  @media (max-width: $tablets-max) {
    padding-bottom: 65px;
    max-width: 278px;
  }

  @media (max-width: $mobiles-max) {
    padding-bottom: 34px;
    max-width: 100%;
  }
}

.about__purpose {
  @media (max-width: $tablets-max) {
    margin-left: -268px;
    padding-right: 10px;
  }

  @media (max-width: $mobiles-max) {
    margin-left: 0;
    width: 100%;
    padding-right: 6px;
  }
}

.about__purpose h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 21px 0 16px;

  @media (max-width: $tablets-max) {
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0 15px;
  }

  @media (max-width: $mobiles-max) {
    padding: 10px 0 18px;
  }
}
