.footer-social__list {
  @include list;
  display: flex;
  justify-content: center;
  padding: 5px 0 31px 0;

  @media (max-width: $tablets-max) {
    padding: 49px 0 14px;
    margin: 2px 0 0 -5px;
  }
}

.footer-social__item {
  width: 28.3px;
  height: 28.3px;
  border: 1px solid #2d383f;
  margin-right: 11px;
  margin-left: 11px;
  text-align: center;
  padding-top: 4px;

  @media (max-width: $tablets-max) {
    margin-right: 5px;
    margin-left: 10px;
  }
}

.footer-social__conf {
  text-align: center;
}

.footer-social__agreement {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
}
