.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // @media (max-width: $desktops) {
  padding: 42px 11px 0 0;
  // padding: 13px 0 0;
  // }
}

.footer__logo {
  padding: 0 20px 0 13px;
}

.footer__info p {
  font-style: italic;
  font-weight: 800;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  transform: translateY(-7px);
  letter-spacing: 1px;
}

.footer__info {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
}

.footer__phone p {
  margin: 0;
  padding-top: 10px;
}

.footer__link {
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
