.footer {
  flex: 0 0 auto;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 56px 11px 0 13px;

  @media (max-width: $tablets-max) {
    flex-direction: column;
    padding: 40px 11px 0 13px;
  }

  @media (max-width: $mobiles-max) {
    flex-direction: column;
    padding: 39px 11px 0 15px;
  }
}

.footer__info p {
  font-style: italic;
  font-weight: 800;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  transform: translateY(-7px);
  letter-spacing: 1px;

  @media (max-width: $tablets-max) {
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.footer__info {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  padding-top: 17px;

  @media (max-width: $tablets-max) {
    padding-top: 20px;
  }
}

.footer__info span {
  padding-left: 4px;
  letter-spacing: 0.4px;
}

.footer__phone {
  margin: 0;
  padding-top: 10px;

  @media (max-width: $tablets-max) {
    display: none;
  }
}

.footer__link {
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.footer__logo-wrapper {
  @media (max-width: $tablets-max) {
    width: 292px;
    padding-left: 36px;
    padding-bottom: 16px;
  }
}

.footer__logo-tablet {
  display: none;

  @media (max-width: $tablets-max) {
    display: block;
  }

  @media (max-width: $mobiles-max) {
    display: none;
  }
}

.footer__logo-desktop {
  display: none;

  @media (min-width: $desktops) {
    display: block;
  }
}

.footer__logo-mobile {
  display: none;

  @media (max-width: $mobiles-max) {
    display: block;
  }
}
