.footer-nav {
  flex-grow: 1;
  padding: 5px 99px 0 70px;
  color: #000000;

  @media (max-width: $tablets-max) {
    padding: 0;
    margin: 0 auto;
  }
}

.footer-nav__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $tablets-max) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 485px;
  }

  @media (max-width: $mobiles-max) {
    max-width: 280px;
  }
}

.footer-nav__link {
  cursor: pointer;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #0266c1;
  }
}

.footer__link {
  &:hover {
    color: #0266c1;
  }
}


.footer-nav__item {
  @media (max-width: $tablets-max) {
    font-size: 14px;
    line-height: 22px;
    width: 160px;
    padding-left: 52px;
    padding-top: 10px;

    &--tours {
      order: 1;
    }

    &--study {
      order: 4;
    }

    &--about {
      order: 2;

      @media (max-width: $mobiles-max) {
        width: 72px;
      }
    }

    &--reviews {
      order: 5;

      @media (max-width: $mobiles-max) {
        width: 72px;
      }
    }

    &--gallery {
      order: 3;
      padding-left: 28px;
    }

    &--contacts {
      order: 6;
      padding-left: 28px;
    }
  }

  @media (max-width: $mobiles-max) {
    width: 90px;
    padding-left: 0;

    &--about,
    &--reviews {
      width: 72px;
    }
  }
}
