.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // @media (max-width: $desktops) {
  padding: 35px 11px 0 13px;
  // padding: 13px 0 0;
  // }

  @media (max-width: $tablets-max) {
    flex-direction: column;
    padding: 42px 11px 0 13px;
  }

  @media (max-width: $mobiles-max) {
    flex-direction: column;
    padding: 41px 11px 0 15px;
  }
}

.footer__logo {
  padding: 0 20px 0 0;
  align-items: center;
}

.footer__info p {
  font-style: italic;
  font-weight: 800;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  transform: translateY(-7px);
  letter-spacing: 1px;

  @media (max-width: $tablets-max) {
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.footer__info {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
  padding-top: 14px;

  @media (max-width: $tablets-max) {
    padding-top: 20px;
  }
}

.footer__info span {
  padding-left: 4px;
  letter-spacing: 0.4px;
}

.footer__phone {
  margin: 0;
  padding-top: 10px;

  @media (max-width: $tablets-max) {
    display: none;
  }
}

.footer__link {
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.footer__logo-wrapper {
  display: flex;

  @media (max-width: $tablets-max) {
    width: 292px;
    padding-left: 33px;
    padding-bottom: 10px;
    // justify-content: space-between;
  }
}
