.gallery {
  overflow: hidden;
}

.gallery__inner {
  padding: 0 11px 44px 14px;
  // overflow: hidden;
  // max-width: 720px;

  @media (max-width: $tablets-max) {
    padding: 0 110px 35px 112px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0 20px 33px 19px;
  }
}

.gallery__inner h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  padding: 30px 0 15px;

  @media (max-width: $tablets-max) {
    font-size: 25px;
    line-height: 30px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 22px;
    line-height: 27px;
    padding: 54px 0 5px;
  }
}

.gallery__inner p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  max-width: 720px;
  padding-top: 6px;

  @media (max-width: $tablets-max) {
    font-size: 14px;
    line-height: 21px;
    padding-top: 12px;
  }
}

.gallery__inner span {
  font-weight: bold;
}

.gallery__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.gallery__buttons {
  display: flex;
  transform: translateY(-1px);
  margin-right: -2px;

  @media (max-width: $tablets-max) {
    transform: translateY(2px);
  }
}

.gallery__title {
  @media (max-width: $tablets-max) {
    max-width: 390px;
  }
}
