.general {
  max-width: 1200px;
  margin: 0 auto;
}

.general__inner {
  padding: 184px 0 126px 1px;

  @media (max-width: $tablets-max) {
    padding: 123px 112px 94px;
  }

  @media (max-width: $mobiles-max) {
    padding: 74px 22px 90px 20px;
  }
}

.general__slogan {
  max-width: 495px;

  @media (max-width: $tablets-max) {
    max-width: 405px;
    padding-bottom: 20px;
  }

  @media (min-width: $tablets) {
    br {
      display: none;
    }
  }

  @media (max-width: $mobiles-max) {
    max-width: 215px;
    padding-bottom: 16px;
  }
}

.general__inner h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  color: #ffffff;
  margin: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "TREKKING";
    font-weight: 900;
    font-size: 93px;
    line-height: 113px;
    top: -45px;
    left: 0;
    color: #f5f9fc;
    opacity: 0.2;
    letter-spacing: 7px;

    @media (max-width: $tablets-max) {
      font-size: 69px;
      line-height: 84px;
      top: -34px;
      left: 0;
      letter-spacing: 5px;
    }

    @media (max-width: $mobiles-max) {
      font-size: 41px;
      line-height: 50px;
      top: -12px;
      left: 0;
    }
  }

  @media (max-width: $tablets-max) {
    font-size: 35px;
    line-height: 43px;
    max-width: 310px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 27px;
    line-height: 33px;
    margin: 6px 0 0 0;
  }
}

.general__inner p {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  padding: 9px 0 10px;
  color: #ffffff;
  margin: 0;

  @media (max-width: $tablets-max) {
    font-size: 16px;
    line-height: 24px;
    padding: 13px 0 10px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 14px;
    line-height: 21px;
    padding: 9px 0 10px;
  }
}
