.general {
  max-width: 1200px;
  margin: 0 auto;
  background: url("../img/trekking.png");
  background-repeat: no-repeat;
  background-position: left top 159px;
}

.general__inner {
  padding: 184px 0 126px;
  // width: 600px;
  @media (max-width: $tablets-max) {
    padding: 123px 110px 91px;
  }
}

.general__slogan {
  max-width: 495px;

  @media (max-width: $tablets-max) {
    max-width: 405px;
    padding-bottom: 20px;
  }
}

.general__inner h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  color: #ffffff;
  margin: 0;

  @media (max-width: $tablets-max) {
    font-size: 35px;
    line-height: 43px;
    max-width: 310px;
  }
}

.general__inner p {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  padding: 10px 0 10px;
  color: #ffffff;
  margin: 0;

  @media (max-width: $tablets-max) {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0 10px;
  }
}
