.header {
  background-position: center bottom -2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0266c1;
  flex-grow: 1;

  @media (max-width: $tablets-max) {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0266c1;
  }

  @media (max-width: $mobiles-max) {
    background-position: 71% bottom;
  }
}

.no-webp .header {
  background-image: url("../img/main-background@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-background@2x.jpg");
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/main-background-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-background-tablet@2x.jpg");
    }
  }
}

.webp .header {
  background-image: url("../img/main-background@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/main-background@2x.webp");
  }

  @media (max-width: $tablets-max) {
    background-image: url("../img/main-background-tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-background-tablet@2x.webp");
    }
  }
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 48px 11px 0 0;

  @media (max-width: $tablets-max) {
    padding: 29px 113px 0 109px;
  }

  @media (max-width: $mobiles-max) {
    padding: 9px 20px 0 21px;
  }
}

.header__logo {
  padding: 0 20px 0 13px;
  transform: translateY(-5px);

  @media (max-width: $tablets-max) {
    padding: 12px 6px 0 16px;
  }

  @media (max-width: $mobiles-max) {
    padding: 9px 4px 0 8px;
  }
}

.header__logo-wrapper {
  display: flex;

  @media (max-width: $tablets-max) {
    width: 292px;
    padding-left: 72px;
  }

  @media (max-width: $mobiles-max) {
    width: 112px;
    padding-left: 0;
  }
}

.header__phone {
  margin: 0;
  padding-top: 4px;

  @media (max-width: $tablets-max) {
    padding-top: 3px;
  }

  @media (max-width: $mobiles-max) {
    padding-top: 0;
    margin-top: -1px;
  }
}

.header__link {
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #0266c1;
  }

  @media (max-width: $tablets-max) {
    font-size: 16px;
    line-height: 25px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 14px;
    line-height: 22px;
  }
}

.header__image {
  cursor: pointer;

  &--tablet {
    display: none;

    @media (max-width: $tablets-max) {
      display: block;
    }

    @media (max-width: $mobiles-max) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktops) {
      display: block;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $mobiles-max) {
      display: block;
    }
  }
}

.header__menu {
  @media (min-width: $desktops) {
    display: none;
  }

  @media (max-width: $tablets-max) {
    cursor: pointer;
  }

  @media (max-width: $mobiles-max) {
    padding-top: 7px;
  }
}

.header__nav-toggle {
  display: block;
  position: relative;
  width: 15.3px;
  height: 1.86px;
  background-color: #ffffff;
  border: none;
  border-radius: 1px;

  span {
    font-size: 0;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 23.9px;
    height: 2px;
    left: 0;
    top: -6px;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 23.9px;
    height: 2px;
    left: 0;
    top: 8px;
  }
}

.header__content {
  display: flex;
  width: 100%;
  align-items: center;

  @media (max-width: $tablets-max) {
    justify-content: flex-end;
  }

  @media (max-width: $mobiles-max) {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
