.header {
  background-image: url("../img/main-background@1x.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $tablets-max) {
    background-image: url("../img/main-background-tablet@1x.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // @media (max-width: $desktops) {
  padding: 42px 11px 0 0;
  // padding: 13px 0 0;
  // }
  @media (max-width: $tablets-max) {
    padding: 27px 112px 0 109px;
  }
}

.header__logo {
  padding: 0 20px 0 13px;

  @media (max-width: $tablets-max) {
    padding: 7px 6px 0 16px;
  }
}

.header__logo-wrapper {
  display: flex;

  @media (max-width: $tablets-max) {
    width: 292px;
    padding-left: 127px;
    // justify-content: space-between;
  }
}

.header__text {
  margin: 10px 0 -5px 0;
  // padding: 0;

  @media (max-width: $tablets-max) {
    margin: 5px 0 0 5px;
  }
}

.header__text p {
  font-style: italic;
  font-weight: 800;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;

  @media (max-width: $tablets-max) {
    font-size: 16px;
    line-height: 20px;
    transform: translateY(8px);
  }
}

.header__text span {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;

  @media (max-width: $tablets-max) {
    font-size: 6px;
    line-height: 7px;
  }
}

.header__phone p {
  margin: 0;
  padding-top: 10px;
}

.header__link {
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;

  @media (max-width: $tablets-max) {
    font-size: 16px;
    line-height: 25px;
  }
}

// .header__image--mobile {
//   display: block;
//
//   @media (max-width: $tablets-max) {
//     display: none;
//   }
//
//   @media (min-width: $desktops) {
//     display: none;
//   }
// }

.header__image--tablet {
  display: none;

  @media (max-width: $tablets-max) {
    display: block;
  }

  @media (min-width: $desktops) {
    display: none;
  }
}

.header__image--desktop {
  display: none;

  @media (min-width: $desktops) {
    display: block;
  }
}

.header__menu {
  @media (min-width: $desktops) {
    display: none;
  }
}

.header__nav-toggle {
  display: block;
  position: relative;
  width: 15.3px;
  height: 1.86px;
  background-color: #ffffff;
  border: none;
  border-radius: 1px;

  span {
    font-size: 0;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 23.9px;
    height: 1.86px;
    left: 0;
    top: -6px;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: #ffffff;
    width: 23.9px;
    height: 2px;
    left: 0;
    top: 8px;
  }
}
