.instructors__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.instructors h3 {
  margin: 0;
  padding: 44px 0 39px 1px;
  letter-spacing: 1.5px;
}

.instructors h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  max-width: 87px;
  margin: 0;
}

.instructors p {
  font-size: 12px;
  line-height: 15px;
  margin-top: 9px;
}

.instructors__inner {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0;
}

.instructors__social {
  width: 24.66px;
  height: 24.05px;
  border: 1px solid #9ac2e6;
}

.instructors__item {
  width: 234px;
  padding: 9px 13px 0 16px;
  background: #ffffff;
  // opacity: 0.09;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.instructors__item img {
  text-align: center;
}
