.instructors {
  padding-bottom: 35px;

  @media (max-width: $tablets-max) {
    padding-bottom: 35px;
  }
}

@media (max-width: $tablets-max) {
  .instructors .swiper-slide {
    opacity: 0.2;
  }

  .instructors .swiper-slide-active,
  .instructors .swiper-slide-next {
    opacity: 1;
  }
}

.instructors__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.instructors h3 {
  margin: 0;
  padding: 44px 0 39px 1px;
  letter-spacing: 1.5px;

  @media (max-width: $tablets-max) {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    padding: 48px 0 39px 1px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 16px;
    line-height: 20px;
    padding: 44px 0 35px 1px;
  }
}

.instructors h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  max-width: 87px;
  margin: 0;
}

.instructors p {
  font-size: 12px;
  line-height: 15px;
  margin-top: 9px;
}

.instructors__inner {
  display: flex;
  justify-content: space-between;
  padding: 18px 0 0;
}

.instructors__social {
  width: 24.66px;
  height: 24.05px;
  border: 1px solid #9ac2e6;
  text-align: center;
  margin-top: 4px;
}

.instructors__item {
  width: 232px;
  flex-shrink: 0;
  padding: 9px 14px 0 14px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);

  &:nth-child(5n+1) .instructors__inner {
    padding: 16px 0 0 0;
  }

  @media (max-width: $tablets-max) {
    padding: 14px 9px 0 17px;
  }
}

.instructors__item img {
  text-align: center;
}

.instructors__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.instructors__buttons {
  display: flex;
  transform: translateY(-30px);
  margin-right: -6px;

  @media (max-width: $tablets-max) {
    transform: translateY(-23px);
    margin-right: -5px;
  }

  @media (max-width: $mobiles-max) {
    transform: translateY(-23px);
    margin-right: -1px;
  }
}
