.main-nav {
  flex-grow: 1;
  padding: 9px 101px 0 85px;

  @media (max-width: $tablets-max) {
    display: none;
  }
}

.main-nav__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__link {
  @include link;
}
