.offers-wrapper {
  overflow: hidden;
}

.offers {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/unsplash-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 559px;
    height: 961px;
    right: -4px;
    top: -39px;
    z-index: 1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/unsplash-desktop@2x.png");
    }

    @media (max-width: $tablets-max) {
      background-image: url("../img/unsplash-tablet@1x.png");
      width: 294px;
      right: 0;
      top: 116px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/unsplash-tablet@2x.png");
      }
    }

    @media (max-width: $mobiles-max) {
      background-image: url("../img/unsplash-mobile@1x.png");
      height: 828px;
      width: 214px;
      top: 36px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/unsplash-mobile@2x.png");
      }
    }
  }

  // &::before {
  //   position: absolute;
  //   content: "Ближайшие туры";
  //   font-weight: 800;
  //   font-size: 55px;
  //   line-height: 67px;
  //   font-weight: 800;
  //   top: 56px;
  //   left: 120px;
  //   color: #2d383f;
  //   opacity: 0.03;
  //
  //   @media (max-width: $tablets-max) {
  //     font-size: 40px;
  //     line-height: 49px;
  //     top: 71px;
  //     left: 110px;
  //   }
  //
  //   @media (max-width: $mobiles-max) {
  //     font-size: 30px;
  //     line-height: 37px;
  //     top: 40px;
  //     left: 17px;
  //   }
  // }
}

.offers__inner {
  padding: 0 15px 0 10px;
  position: relative;
  z-index: 2;

  @media (max-width: $tablets-max) {
    padding: 0 112px 0 114px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0 20px 0 19px;
  }
}

.offers__inner h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: #2d383f;
  margin: 0;
  padding: 72px 0 0;

  &::before {
    position: absolute;
    content: "Ближайшие туры";
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    top: 56px;
    left: 11px;
    color: #2d383f;
    opacity: 0.03;

    @media (max-width: $tablets-max) {
      font-size: 40px;
      line-height: 49px;
      top: 71px;
      left: 110px;
    }

    @media (max-width: $mobiles-max) {
      font-size: 30px;
      line-height: 37px;
      top: 40px;
      left: 17px;
    }
  }

  @media (max-width: $tablets-max) {
    font-size: 25px;
    line-height: 30px;
    padding: 82px 0 0;
  }

  @media (max-width: $mobiles-max) {
    font-size: 22px;
    line-height: 27px;
    padding: 47px 0 0;
  }
}

.offers__swiper-container {
  color: #ffffff;
  padding: 50px 0 0;
  z-index: 2;

  @media (max-width: $tablets-max) {
    padding: 57px 0 0;
  }

  @media (max-width: $mobiles-max) {
    padding: 22px 0 0;
  }
}

.offers__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offers__item {
  width: 384.17px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  padding: 206px 56px 20px 22px;
  height: 412px;

  @media (max-width: $mobiles-max) {
    padding: 153px 14px 20px 8px;
    width: 281px;
    height: 100%;
  }

  &--elbrus {
    padding: 206px 56px 20px 22px;
    background-image: url("../img/elbrus-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/elbrus-desktop@2x.jpg");
    }

    @media (max-width: $mobiles-max) {
      padding: 153px 14px 20px 8px;

      background-image: url("../img/elbrus-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/elbrus-mobile@2x.jpg");
      }
    }
  }

  &--belukha {
    background-image: url("../img/belukha-desktop@1x.jpg");
    padding: 206px 38px 20px 22px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/belukha-desktop@2x.jpg");
    }


    @media (max-width: $mobiles-max) {
      padding: 153px 14px 20px 8px;

      background-image: url("../img/belukha-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/belukha-mobile@2x.jpg");
      }
    }
  }

  &--blacksea {
    background-image: url("../img/blacksea-desktop@1x.jpg");
    padding: 206px 45px 20px 22px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blacksea-desktop@2x.jpg");
    }


    @media (max-width: $mobiles-max) {
      padding: 153px 14px 20px 8px;

      background-image: url("../img/blacksea-mobile@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/blacksea-mobile@2x.jpg");
      }
    }
  }
}

.offers__period {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding-top: 8px;

  @media (max-width: $mobiles-max) {
    width: 95px;

    span {
      padding-left: 30px;
    }
  }

  &--days {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/sun.svg");
      width: 21.73px;
      height: 22px;
      top: 3px;
      left: -30px;

      @media (max-width: $mobiles-max) {
        left: 2px;
      }
    }
  }

  &--nights {
    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/moon.svg");
      width: 20px;
      height: 20px;
      top: 6px;
      left: -26px;

      @media (max-width: $mobiles-max) {
        left: 4px;
      }
    }
  }
}

.offers__info {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobiles-max) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  // &--elbrus {
  //   padding: 206px 56px 0 22px;
  // }
  //
  // &--belukha {
  //   padding: 206px 38px 0 22px;
  // }
  //
  // &--blacksea {
  //   padding: 206px 45px 0 22px;
  // }
}

.offers__item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 22px 40px 20px 0;

  @media (max-width: $tablets-max) {
    padding: 22px 34px 20px 0;
  }

  @media (max-width: $mobiles-max) {
    padding: 22px 13px 20px 0;
  }
}

.offers__info p {
  margin: 0;
}

.offers__additional {
  display: flex;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  justify-content: space-between;

  &--elbrus-tour {
    margin-right: -13px;
  }

  &--blacksea-tour {
    margin-right: -8px;
  }

  p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 6px;
  }

  span {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}

.offers__link {
  text-align: center;
  margin-top: 60px;
  transform: translateX(-8px);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/forward.svg");
    background-repeat: no-repeat;
    top: 3px;
    left: 58.7%;
    height: 14px;
    width: 8px;

    @media (max-width: $tablets-max) {
      left: 70.5%;
    }
  }

  @media (max-width: $tablets-max) {
    margin-top: 44px;
    transform: translateX(-10px);
  }

  @media (max-width: $mobiles-max) {
    margin-top: 28px;
  }

  a {
    @include link;
    color: #000000;
    letter-spacing: 0.6px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
  }
}

.offers__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.offers__buttons {
  display: flex;
  transform: translateY(10px);
  margin-right: -4px;

  @media (max-width: $tablets-max) {
    transform: translateY(8px);
  }

  @media (max-width: $mobiles-max) {
    transform: translateY(-2px);
  }
}

.offers__dates {
  margin-left: -9px;
}
