.pictures {
  display: flex;
}

.pictures__item {
  width: 277px;
  flex-shrink: 0;

  @media (max-width: $mobiles-max) {
    width: 160px;
  }

  &--column {
    display: flex;
    flex-direction: column;
    width: 295px;

    @media (max-width: $mobiles-max) {
      width: 172px;
    }

    img {
      margin-bottom: 2px;
    }
  }
}
