.pictures {
  display: flex;
}

.pictures__item {
  width: 277px;
  flex-shrink: 0;

  &--column {
    display: flex;
    flex-direction: column;
    width: 299px;

    img {
      margin-bottom: 4px;
    }
  }
}
