.reviews__inner {
  padding: 0 10px 85px 11px;
  overflow: hidden;

  @media (max-width: $tablets-max) {
    padding: 0 112px 89px;
  }

  @media (max-width: $mobiles-max) {
    padding: 0 20px 0 22px;
  }
}

.reviews__list {
  @include list;
  display: flex;
  flex-direction: row;
}

.reviews__inner h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  margin: 0;
  padding-bottom: 36px;
  position: relative;
  padding-left: 3px;

  &::before {
    position: absolute;
    content: "Отзывы";
    font-weight: 800;
    font-size: 55px;
    line-height: 67px;
    top: -17px;
    left: -1px;
    color: #2d383f;
    opacity: 0.03;

    @media (max-width: $tablets-max) {
      font-size: 40px;
      line-height: 49px;
      top: 39px;
      left: -1px;
    }

    @media (max-width: $mobiles-max) {
      font-size: 30px;
      line-height: 37px;
      top: 0;
      left: -2px;
    }
  }

  @media (max-width: $tablets-max) {
    font-size: 25px;
    line-height: 30px;
    padding-top: 54px;
  }

  @media (max-width: $mobiles-max) {
    font-size: 22px;
    line-height: 27px;
    padding-top: 5px;
    padding-bottom: 13px;
  }
}

.reviews__item {
  width: 388px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  // padding: 46px 7px 23px 30px;
  padding: 43px 15px 43px 38px;
  flex-shrink: 0;
  min-height: 504px;

  &:nth-child(2n+1) {
    @media (min-width: $desktops) {
      padding: 43px 15px 43px 30px;
    }
  }
  //   @media (min-width: $tablets) {
  //     padding: 46px 12px 23px 35px;
  //   }
  // }

  // &:nth-child(3n+3) {
  //   @media (min-width: $desktops) {
  //     padding: 41px 7px 23px 38px;
  //   }

  @media (min-width: $tablets) {
    width: 388.76px;
    padding: 46px 17px 42px 35px;
  }

  @media (max-width: $mobiles-max) {
    padding: 43px 8px 12px 12px;
    min-height: 535px;
    margin-bottom: 30px;
  }
}

.reviews__info {
  display: flex;
  padding-bottom: 37px;

  @media (max-width: $mobiles-max) {
    img {
      width: 96px;
      height: 100px;
    }

    padding-bottom: 13px;
  }
}

.reviews__user-info {
  padding-left: 15px;

  @media (max-width: $mobiles-max) {
    padding-left: 9px;
  }
}

.reviews__user-info p {
  margin: 0;
  padding: 33px 0 3px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.reviews__user-info span {
  font-weight: 400;
  font-size: 14px;
}

.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("../img/quotes-first.png");
    left: 4px;
    top: -9px;
    width: 31px;
    height: 22px;
  }
}

.reviews__text p {
  margin: 0;
  padding-bottom: 20px;
  max-width: 343px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.reviews__text span {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background: url("../img/quotes-second.png");
    bottom: -15px;
    left: -25px;
    width: 31px;
    height: 22px;
  }
}

.reviews__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: $tablets-max) {
    padding-bottom: 15px;
  }

  @media (max-width: $mobiles-max) {
    padding-bottom: 22px;
  }
}

.reviews__buttons {
  display: flex;
  transform: translateY(-28px);
  margin-right: -2px;

  @media (max-width: $tablets-max) {
    transform: translateY(-26px);
    margin-right: -4px;
  }

  @media (max-width: $mobiles-max) {
    transform: translateY(-5px);
    margin-right: -1px;
  }
}
