.study {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d9e7ea;
    bottom: 31px;
  }
}

.study__inner {
  padding: 61px 16px 0 13px;
  position: relative;
  z-index: 2;
}

.study__inner p {
  max-width: 805px;
  line-height: 26px;
  margin-top: 6px;
}

.study__process h3 {
  margin: 0;
  padding: 61px 0 25px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.study__inner h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 26px;
}

.study__list {
  @include list;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0 36px;
}

.study__item {
  position: relative;
  display: flex;
  flex-shrink: 0;

  &::after {
    position: absolute;
    content: "";
    background-color: #0266c1;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    bottom: -11px;
    left: 3px;
  }

  &--movement {
    width: 240px;
    margin-right: 81px;
  }

  &--equipment {
    width: 260px;
    margin-right: 64px;
  }

  &--ecology {
    width: 210px;
    margin-right: 123px;
  }

  &--obstacles {
    width: 250px;
  }

  p {
    // width: 217px;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 1px 0 16px 10px;
  }
}
